@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: gray;
}
.left-links {
  display: flex;
  gap: 25px;
  list-style: none;
}
.left-links a,
.right-links,
a {
  text-decoration: none;
}
a:visited {
  color: gray;
}
.right-links {
  display: flex;
  gap: 15px;
  list-style: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;

  color: gray;
  background-color: #eeeeee;
}
.footer a {
  margin-right: 10px;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
